* {
    margin-top:0;
    margin-left:0;
    margin-right:0px;
}

.main{
    margin: 16px;
    padding: 16px;
}

ul.breadcrumb {
    color: white;
    float: left;
    min-width: 100%;
    position: relative;
    padding: 10px 16px;
    list-style: none;
    background-color: #336699;
    margin-bottom: 0px;
}

a {
    font-weight: bold;
    color: lightgrey;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a";
}