.menu {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.menu li {
    display: inline;
}
.menu li a {
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
}
.menu li a:hover {
    background-color: #2586d7;
    /* en -5px pones los pixeles q quieres que se desplace (borra este comentario luego maricon) */
    transform: translateY(-5px);
}
