body {
	background-color: lightgrey;
	cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto;
	cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), pointer;
}

ul {
	color: black;
}

table {
	margin-left: 25px;
	margin-bottom: 25px;
}

.header {
	margin-top:0;
    margin-left:0;
    margin-right:0px;
	background-color: #0066cc;
	vertical-align: middle;
	cursor: url(https://cur.cursors-4u.net/games/gam-4/gam372.cur), auto;
}

.headerText{
	text-align: center;
	vertical-align: middle;
	font-family: firstFontBold;
    padding-top: 50px;
	padding-bottom: 10px;
}


#ex34 a {
	color: blue;
	font-weight: lighter;
}

.title{
	color: lightgray;
	margin: 5px;
	display: inline;
	font-variant: small-caps;
}
.institut{
	font-variant: small-caps;	
	font-size: 15px;
	color: blue;
	margin: 5px;
	padding-bottom: 0px;
	padding-right: 0px;
}

.cFlags img{
	height: 25px;
	width: 50px;
}
