body {
	background-color: lightgrey;
}

ul {
	color: black;
}

table {
	margin-left: 25px;
	margin-bottom: 25px;
}

.header {
	margin-top:0;
    margin-left:0;
    margin-right:0px;
	background-color: #0066cc;
	vertical-align: middle;
}

.headerText{
	text-align: center;
	vertical-align: middle;
	font-family: firstFontBold;
    padding-top: 50px;
	padding-bottom: 10px;
}

.title{
	color: lightgray;
	margin: 5px;
	display: inline;
	font-variant: small-caps;
}
.institut{
	font-variant: small-caps;	
	font-size: 15px;
	color: blue;
	margin: 5px;
	padding-bottom: 0px;
	padding-right: 0px;
}
