.header {
	margin-top:0;
    margin-left:0;
    margin-right:0px;
	background-color: lightblue;
	vertical-align: middle;
}

.headerText{
	text-align: center;
	vertical-align: middle;
	font-family: firstFontBold;
    padding-bottom: 10px;
    padding-top: 10px;
}