#page2 {
    margin: 0px;
    padding-left: 0px;
}

#page2 ul.breadcrumb {
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 16px;
    list-style: none;
    background-color: #336699;
}

a {
    font-weight: bold;
    color: lightgrey;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a";
}