body{
    margin:0;
    background: linear-gradient(to bottom, #141313, #1f1e1e) ;
}

#page1 {
    margin: 0;
    background: linear-gradient(to bottom, #141313, #1f1e1e) ;
    min-height: 100vh; 
}

#header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#content {
    margin-left: 25px;
    margin-top: 50px;
}

#content h2 {
    color: lime;
}

#content .article {
    border: white 1px solid;
    border-radius: 10px;
    width: 50vh;
    min-height: 250px;
}

.title{
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: lime;
    font-size: 100px;
}

.title #slash{
    padding-left: 25px;
    padding-right: 25px;
    font-size: 110px;
    color:  gray;
    opacity: 50%;
}

hr {
    color:  gray;
    opacity: 50%;
    margin-left: 25px;
    margin-right: 25px;
}

a {
    text-decoration: none;
}